// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;

$deep-blue: #2B4162;
$deep-green: #385F71;
$white-smoke: #F5F0F6;
$teal-blue: #4D7C8A;
$steel-blue: #3E78B2;
$icon-grey: #D23333;
